/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

   #mobile ul li {
     width: calc(100% / 4);
   }

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #mobile ul li {
    width: calc(100% / 3);
  }
  #iPhone7 {
    padding: 40px 0;
  }
  input[name=email] {
    margin-bottom: 15px;
  }

  #contact-form .form-group:nth-child(2) > div:first-child {
    padding-right: 15px;
  }

  #contact-form .form-group:nth-child(2) > div:nth-child(2) {
    padding-left: 15px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  #mobile ul li {
    width: calc(100% / 2);
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}